# Ignore IDE-related files
.idea

# Ignore Python intepreter-related files
__pycache__

# Ignore git-crypt-key
git-crypt-key

# Ignore ecaption_utils files
ecaption_utils_personal

# Ignore debugging-related files
MiddleMan.py

# Ignore .env files
.env
